html {
	overflow: hidden;
}

.topdiv {
	background-color: #0e5cbe;
	margin: 0px;
	height: 78px;
}

img {
	vertical-align: middle;
	padding-right: 15px;
}

.imgstr {
	width: 17px;
	height: 17px;
	padding-right: 3px;
	padding-left: 5px;
}

.title {
	padding-left: 20px;
	padding-top: 10px;
	font-size: 35px;
	color: #FFFFFF;
	font-weight: 900;
}

.hrtiltle {
	font-size: 12px;
	cursor: hand;
}

.exittiltle {
	text-decoration: none;
	font-size: 12px;
	cursor: hand;
	color: #FFFFFF;
}

.curyear {
	position: absolute;
	top: 27px;
	text-align: right;
	width: 80%;
	color: #FF0000;
	font-weight: 800;
	font-size: 35px;
}
.portalcuryear {
	position: absolute;
	top: 27px;
	text-align: right;
	width: 75%;
	color: #FF0000;
	font-weight: 800;
	font-size: 35px;
}
.curtime {
	position: absolute;
	top: 35px;
	text-align: right;
	width: 98%;
	color: #FFFFFF;
	font-size:16px;
}

.curUser {
	position: absolute;
	top: 60px;
	text-align: right;
	width: 98%;
	color: #FFFFFF;
	font-size: 12px;
	cursor: hand;
}

.navr {
	position: absolute;
	top: 5px;
	text-align: right;
	width: 98%;
	color: #FFFFFF;
}

#menulist {
	background: url(../../images/main/bottom_menubg.jpg);
	width: 100%;
	height: 49px;
}

#menulist ul {
	clear: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style-type: none;
	text-algin: center;
	display: inline;
	float: left;
}

#menulist li {
	float: left;
	display: block;
	margin: 0px;
	padding-top: 17px;
	padding-left: 20px;
	text-algin: center;
	font-size: 18px;
	color: #023378;
	font-weight: 900;
}

#menulist a {
	cursor: hand;
}

#transtitle {
	font-size: 12px;
	padding-left: 10px;
	font-weight: 900;
	color: #1b5ebe;
	float: left;
}

#transcontr {
	font-size: 12px;
	padding-left: 1px;
}

.transbg {
	background: url(../../images/main/trans_bg.jpg);
	height: 32px;
}

.transmore {
	padding-left: 50px;
	color: #9d9d9d;
	text-decoration: none;
	font-size: 12px;
	font-style: italic;
}

.scroll {
	scrollbar-face-color: #c2d4ef;
	scrollbar-shadow-color: #c2d4ef;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #759a90;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #2bb1cc;
	background-color: transparent;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
	width: 100%;
}

#msglist {
	width: 95%;
	height: 20px;
}

#msglist ul {
	clear: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style-type: none;
	text-algin: center;
	display: inline;
}

#msglist li {
	float: left;
	display: block;
	margin: 0px;
	padding-top: 12px;
	padding-left: 13px;
	text-algin: center;
	font-size: 12px;
	color: #1b5ebe;
	font-weight: 900;
	width: 70px;
	height: 21px;
	background: url(../../images/main/tab_bg1.jpg) no-repeat;
}

#msglist a {
	cursor: hand;
}

.split {
	background: url(../../images/main/bottom_split.jpg) repeat-y right;
}

.menubar {
	background: url(../../images/main/bottom_menubg2.jpg) repeat-x right;
	height: 75px;
}

.splitInfo {
	text-algin: right;
	font-size: 12px;
}

.tfont {
	color: #1b5ebe;
}

.note {
	text-align: right;
	font-size: 12px;
	padding-right: 35px;
	padding-top: 3px;
	color: #9d9d9d;
	font-weight: 900;
}

.tab_bg {
	background: url(../../images/main/tab_bg2.jpg) repeat-x;
}

.fun_div {
	display: block;
	width: 100%;
	height: 250px;
	overflow-y: scroll;
	scrollbar-face-color: #c2d4ef;
	scrollbar-shadow-color: #c2d4ef;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #759a90;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #2bb1cc;
	background-color: transparent;
}

.fun_div_mod {
	padding-left: 20px;
	padding-top: 5px;
	float: left;
	cursor: hand;
}

.fun_list {
	font-size: 12px;
	padding-top: 3px;
	font-weight: 600;
	color: #1b5ebe;
	text-align: center;
}

.fun_img {
	padding-left: 13px;
	width: 100px;
	height: 100px;
}

#tab10 {
	display: block;
}

#tab11 {
	display: none;
}

#tab12 {
	display: none;
}

#copyright {
	font-size: 13px;
	color: #999999;
	font-weight: 900;
}

#admintopborder {
	background: url(../../images/main/admin_top_border.jpg);
	width: 100%;
	height: 10px;
}
#adminbottomborder {
	background: url(../../images/main/admin_bottom_border.jpg);
	width: 100%;
	height: 5px;
}

#middle_tip {
	width: 100%;
	height: 156px;
	margin-top: 130px;
	margin-left: 20px;
}

#middle_ico {
	text-align: right;
	vertical-align: bottom;
	width: 100%;
	margin-top: 100px;
}

#middle_left_top {
	height: 35px;
	color: #0689d5;
	text-align: left;
	background-color: #0e5cbe;
}

#middle_left_fun1 {
	margin-top: 5px;
	margin-left: 5px;
	border: 0px;
	height: 25px;
	background-color: #04a2fd;
	width: 88px;
}

#middle_left_fun2 {
	margin-top: 5px;
	border: 0px;
	height: 25px;
	width: 88px
}
