body {
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#094c79,endcolorstr=#99caeb, gradientType=0 );
}

ul {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	list-style-type: none;
	padding: 0px;
}

#AwokeNum {
	padding-top: 2px;
}

#AwokeNum li {
	float: left;
	margin: 3px;
}

#AwokeNum img {
	margin-bottom: -3px;
}

#Head1 {
	height: 64px;
	border: 0px solid;
	margin: 0px auto;
	padding: 0px;
	background: url(../../images/main/top_bg.gif) repeat-x;
}

#Logo {
	position: absolute;
	top: 12px;
	left: 20px;
	float: left;
}

#Head1Right {
	float: right;
	height: 25px;
	margin: 0;
}

#Head1Right_Time {
	font-size: 14px;
}

#Head1Right_Button {
	position: absolute;
	top: 70px;
	right: 10px;
	float: left;
}

#Head1Right_Button img {
	border: 0;
	float: right;
}

#Head2 {
	height: 36px;
	margin-left: auto;
	margin: 0;
	background: url(../../images/main/head2_bg.gif) repeat-x;
	border-top: 1px solid #a0c6e1;
	border-bottom: 1px solid #ffffff;
}

#leftMenu {
	float: left;
	padding-top: 4px;
	padding-left: 5px;
	cursor:hand;
}

#Head2_Awoke {
	float: left;
	height: 100%;
	padding-left: 10px;
	padding-top: 2px;
}

#Head2_Awoke A {
	font-family: ו;
	font-size: 12px;
	color: #ffffff;
	TEXT-DECORATION: none
}

.Line {
	border-left: 1px solid #005a98;
	border-right: 1px solid #a0c6e1;
	width: 2px;
	height: 17px;
}